bs4
beautifulsoup4
cloudscraper
lxml
linkGrabber
pyrogram
pySmartDL==1.3.4
requests
tgcrypto
urllib3
pyromod
httpx
speedtest-cli
psutil
disk
spotdl
gitpython
motor
dnspython
git+https://github.com/Jusidama-Bot/lk-21
